 
 .Todo{
     display: flex;
      align-items: center;
      border-radius: 5px;
      border: 0.1px solid ghostwhite;
      padding-right: 4px;
      height: 40px;
      margin-top: 8px;
      margin-bottom: 8px;
      width: 200px;
      justify-content: space-between;
      padding-left: 4px;
 }
 
 .items{

   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 3px;
   justify-content: center;
 
 }
 
 .items input{
      
      cursor: pointer;
 
 }
 
 
 .addTodo input{
    width: 230px;
    height: 25px;
   
 }
 .iconContainer button{
    cursor: pointer;
 
}

 .addTodo button{
     height: 30px;
   
    
 }
 